*{
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    padding: 0;
  }
  
  .webheader {
    width: 90%;
    margin: auto auto;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  header {
    background-color: #56a7dc;
    color: #fff;
    padding: 15px 0;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 5px;
  }
  .logo img {
    width: 100px;
  }
  nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  nav ul li {
    display: inline;
    margin-left: 30px;
  }
  nav ul li a {
    color: #fff;
  }
  nav ul li a:hover {
    color: #ffc107;
  }
  h1{
    text-align: center;
  }

  /* Estilos del cuerpo */
.body {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  .section {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #9ad3f9;
    text-align: justify;
    border: 2px solid #000000;
    border-radius: 10px;

  }
  .section h2:hover{
    color: #ffc107;
  }
  h1 {
    color: #333;
    text-align: center;
  }
  h2 {
    color: #333;
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  p {
    color: #666;
  }
  .member {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }
  .member img {
    max-width: 100px;
    border-radius: 50%;
    margin: 5px;
  }
  #team{
    display: flex;
    flex-direction: column;
    width:fit-content;
  }

  #introduction{
    align-self:auto;
  }
  #introduction > p{
    margin: 10px;
  }
  #introduction > img{
    max-width: 95%;
    margin: 10px;
  }
  #contact{
    width: auto;
    align-self: stretch;
    margin: 10px;
  }
  #contact> p{
    margin: 10px;
  }
  
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    background-color: #e6f2ff;
    border: 1px solid #0b78c1; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    background-color: #e6f2ff;
    border: 1px solid #0b78c1; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
 
  input[type=submit] {
    background-color: #ffc107;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #e69900;
    color: white;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #9ad3f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .section > p{
    margin: 10px;
  }

  footer {
    background-color: #56a7dc;
    color: #fff;
    height: 50px; 
    margin-top: 10px; 
    margin: 5px;
    position: fixed; 
    left: 0;
    right: 0;
    bottom: 0;
    border: none; 
    justify-content: space-between; 
    align-items: center; 
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 0 10px;
  }

  footer img {
    float: inline-end;
    max-height: 30px; 
  }
  #details{
    margin-top: 10px;
    align-self:flex-end;
    float: inline-start;
  }
  
