* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
  padding: 0;
}

.webheader {
  width: 90%;
  margin: auto auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header,
footer {
  background-color: #56a7dc;
  color: #fff;
  padding: 15px 0;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 5px;
}

.logo img {
  width: 100px;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline;
  margin-left: 30px;
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  color: #ffc107;
}

nav ul li a.active {
  color: #ffc107;
  font-weight: bold;
}
h1,
h2 {
  color: #333;
  text-align: center;
}

.body {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.section {
  width: 25%;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border: 2px solid #56a7dc;;
  border-radius: 10px;
  word-wrap:break-word;
  overflow:hidden;
}

.section h2:hover {
  color: #ffc107;
}

a {
  text-decoration: none;
}

p {
  color: #666;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.member img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#team {
  width: fit-content;
}

#introduction {
  align-self: stretch;
}

#introduction > p {
  margin: 10px;
}

#contact {
  width: auto;
  align-self: stretch;
  margin: 20px;
}

#contact > p {
  margin: 10px;
}

#main {
  display: flex;
}

#main > article {
  flex: 20vw;
}

footer {
  background-color: #56a7dc;
  color: #fff;
  height: 50px; 
  margin-top: auto; 
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0;
  border: none; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 10px;
  border: 2px solid #000000;
  border-radius: 10px;
}
footer img {
  float: inline-end;
  max-height: 30px; 
}